  <%= render 'shared/menu', obj: @current_user %> 

        <div class="body-container">
         
            <%= render 'shared/opinions'%>

            <%= render 'shared/follow' %>

        </div>