<div class="follow-container">
    <div class="follow-heading">
        <p class="h5">WHO TO FOLLOW</p>
    </div>
    <hr class="follow-hr">
    <div class="follow-body ml-4">
        <% @users.each do |user| %>
            <%= should_follow?(user) %>
        <% end %>
    </div>
</div>
